<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="myForm">
    <form th:action="@{/listTasks/save}" method="post">
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel">
            111111
        </div>
    </form>
</div>

<script>
$(document).ready(function(){

        $('#exampleModal').modal();
        alert('popal');

$});
</script>

</body>
</html>